{% extends 'default/layout.html' -%}
{%- block doctype %}
<!DOCTYPE html>
{% endblock -%}

{% block extrahead %}
<link href="{{ pathto('_static/favicon.png', 1) }}" type="image/png" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ pathto('_static/css/bootstrap.min.css', 1) }}">
<link rel="stylesheet" href="{{ pathto('_static/css/font-awesome.min.css', 1) }}">
<link rel="stylesheet" href="{{ pathto('_static/css/cake.css', 1) }}">

{% for lang in languages %}
	{%- if lang != language -%}
		{%- if has_lang(lang, pagename) -%}
		<link rel="alternate" hreflang="{{ lang }}" href="{{ lang_link(lang, pagename) }}" />
		{%- endif -%}
	{%- endif -%}
{% endfor %}

<link rel="search" type="application/opensearchdescription+xml" title="CakePHP Book 3.x Search" href="{{ pathto('_static/opensearchdescription-book-3-x.xml', 1) }}">
<script type="text/javascript">
window.lang = "{{ language }}";
</script>
{% endblock %}

{%- set script_files = [
	"_static/jquery.js",
	"_static/underscore.js",
	"_static/doctools.js",
	"_static/app.js",
	"_static/search.js",
	"_static/typeahead.js",
] -%}

{%- block header %}
{# Outer wrapper for pushing the footer to the bottom #}
<div id="container">
	<header class="nav-down">
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="logo-cake" href="{{ pathto(master_doc) }}">
						<img src="{{ pathto('_static/logo-cake.png', 1) }}" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-9 col-md-9">
					<nav class="navbar-right">
						<ul class="menu">
							<li class="toggle-menu"> <i class="fa icon_menu"></i></li>

							<li class="first">
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
								<ul class="submenu">
									<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
									<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Api</a></li>
									<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
									<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Pirvacy Policy</a></li>
									<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Logos & Trademarks</a></li>
								</ul>
							</li> 

							<li><a href="shortcodes.html">Business Solutions</a></li>

							<li><a href="shortcodes.html">Showcase</a></li>
							
							<li>
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
								<div class="megamenu full">
									<div class="row">
										<div class="col-3">
											<ul class="megamenu-list">
												<li class="menu-title"><i class="fa fa-menu-title fa-calendar-o"></i>Calendar</li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Meetups</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Events</a></li>
											</ul>
										</div>
										<div class="col-3">
											<ul class="megamenu-list">
												<li class="menu-title"><i class="fa fa-menu-title fa-tags"></i>Marketplace</li>
												<li class="menu-sub">Service Providers</li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Cakedc</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Phpstorm</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Rackspace</a></li>
												<li class="menu-sub">Jobs</li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Freelance App</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Cakephp Jobs</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Cakexperts</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Job Board</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Linkedin</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Freelancer</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Upwork</a></li>
											</ul>
										</div>
										<div class="col-3">
											<ul class="megamenu-list">
												<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help & Support</li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Youtube Channel</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Google Groups</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Commercial</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Irc</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Quora</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
											</ul>
										</div>
										<div class="col-3">
											<ul class="megamenu-list">
												<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Blog</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Calendar</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>My Cakephp</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Cakefest</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Cakesf</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Oss Bounty</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>

							<li>
								<div id="wrap">
									{% include 'searchbox.html' %}
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class="container-fluid hidden-md hidden-lg">
			<div class="row">

				<div class="col-sm-6 col-xs-6">
					<a class="logo-cake" href="{{ pathto(master_doc) }}">
						<img src="{{ pathto('_static/logo-cake.png', 1) }}" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-6 col-xs-6">
					<div class="navbar-right">
							<button class="btn-menu" data-toggle="modal" data-target="#menumodal"><i class="fa toggle-modal icon_menu"></i></button>
					</div>
					<div id="wrap">
						{% include 'searchbox.html' %}
					</div>
				</div>
			</div>
		</div>

		<section id="nav-cook" class="hidden-xs hidden-sm">
			<div class="container-fluid ">
				<div class="row ">
					<div class="col-md-12 back-book">
						<div class="col-md-4 col-md-offset-1 text-center t-cook-nav p0">
							 <h2><span class="glyph_range icon-submenu icon-submenu-cook">B</span>CakePHP 3.2 Red Velvet <strong>Cookbook</strong></h2>
						</div>

						<div class="col-md-4 ">
							<div class="col-md-10 p0">
								<input type="text" name="cook" id="cook" class="form-control form-cook" placeholder="CookBook Search">
							</div>
							<div class="col-md-2 p0 search-cook">
								<span class="glyph_range icon-submenu icon-submenu-cook">A</span>
							</div>
						</div>

						<div class="col-md-7 t-language p0">
							<h6>Language:</h6>
						</div>
						<div class="col-md-5 p0">
							<ul class="nav navbar-nav">
								<li class="dropdown">
									{% for lang in languages %}
										{%- if lang == language -%}
										<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
											role="button" aria-haspopup="true" aria-expanded="false" href="#">
												{{ lang }}
												<i class="fa fa-menu-en fa-chevron-down"></i>
											</a>
										{%- endif -%}
									{% endfor %}
									<ul class="dropdown-menu">
									{% for lang in languages %}
										<li>
											{%- if lang == language -%}
											{# Do nothing, we print the active one above #}
											{%- elif has_lang(lang, pagename) -%}
											<a href="{{ lang_link(lang, pagename) }}">{{ lang }}</a>
											{%- else -%}
											<span class="disabled">{{ lang }}</span>
											{%- endif -%}
										</li>
									{% endfor %}
									</ul>
								</li>
							</ul>
						</div>

						<div class="col-md-6 p0">
							<div class="col-md-7 t-language p0">
								<h6>Version:</h6>
							</div>
							<div class="col-md-5 p0">
								<ul class="nav navbar-nav">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">3.2 <i class="fa fa-menu-en fa-chevron-down"></i></a>
										<ul class="dropdown-menu">
											<li><a href="http://book.cakephp.org/3.0/{{ language }}">3.x Book</a></li>
											<li><a href="http://book.cakephp.org/2.0/{{ language }}">2.x Book</a></li>
											<li><a href="http://book.cakephp.org/1.3/{{ language }}/">1.3 Book</a></li>
											<li><a href="http://book.cakephp.org/1.2/{{ language }}/">1.2 Book</a></li>
											<li><a href="http://book.cakephp.org/1.1/en">1.1 Book</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</header>
{% endblock -%}


{%- block relbar1 %}
<div class="breadcrumb-header">
	<div class="related row">
		<div class="columns three root-link">
			<a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a>
		</div>
		<div class="columns nine">
			<ul class="inline breadcrumb">
			{%- for parent in parents %}
			<li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
				<a href="{{ parent.link|e }}" {% if loop.last %}{{ accesskey("U") }}{% endif %} itemprop="url"><span itemprop="title">{{ parent.title }}</span></a>
			</li>
			{%- endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock -%}


{%- block content %}
<div class="content row">
	<div class="document columns nine push-three">
		<div class="body">
			{%- if pagename != 'search' -%}
				<a class="button pale improve" href="https://github.com/cakephp/docs/edit/{{ branch }}/{{ language }}/{{ pagename }}.rst" target="_blank">Improve this Doc</a>
			{%- endif -%}

			{%- if pagename != 'search' and pagename != 'contents' and pagename != 'index' -%}
			<div class="page-contents">
				<h3>{{ _('Page Contents') }}</h3>
				{{ toc }}
			</div>
			{%- endif -%}

			{% block body %} {% endblock %}
		</div>
	</div>

	<div class="sidebar columns three pull-nine" lang="{{ language }}">
		{%- for sidebartemplate in sidebars %}
		{%- include sidebartemplate %}
		{%- endfor %}
	</div>

</div>


	<div class="footer-push"> </div>
</div>
{# End of div[id=wrapper] #}
{% endblock -%}

{%- block relbar2 %}
{# Empty so links aren't duplicated #}
{% endblock %}

{%- block footer %}
{# Push the footer down to the bottom of the page #}
<div class="footer-region">
	<div class="footer-social row">
		Bunch of social links/buttons go in here.
	</div>

	<div class="footer-nav row">
		<div class="columns four">
			<h3>My CakePHP</h3>
		</div>

		<div class="footer-links columns two">
			<h4 class="i-book">Documentation</h4>
			<ul>
				<li><a href="http://api.cakephp.org">API</a></li>
				<li><a href="http://book.cakephp.org">Book</a></li>
			</ul>

			<h4 class="i-briefcase">Business Solutions</h4>

			<h4 class="i-tv">Showcase</h4>
		</div>

		<div class="footer-links columns two">
			<h4 class="i-people">Community</h4>
			<ul>
				<li><a href="http://bakery.cakephp.org">The Bakery</a></li>
				<li><a href="http://cakefest.org">CakeFest</a></li>
				<li><a href="http://podcast.cakephp.org">CakePHP Podcast</a></li>
				<li><a href="http://twitter.com/CakePHP">Follow us on Twitter</a></li>
				<li><a href="http://github.com/cakephp/cakephp/contributors">Contributors</a></li>
				<li><a href="http://plugins.cakephp.org">Plugins &amp; Packages</a></li>
				<li><a href="http://community.cakephp.org/get-involved">Get Involved</a></li>
				<li><a href="http://community.cakephp.org/guidelines">Guidelines</a></li>
			</ul>
		</div>

		<div class="footer-links columns two">
			<h4 class="i-speech">Help &amp; Support</h4>
			<ul>
				<li><a href="http://stackoverflow.com/tags/cakephp">Stack Overflow</a></li>
				<li><a href="http://www.youtube.com/user/CakePHP">YouTube Channel</a></li>
				<li><a href="http://groups.google.com/group/cake-php">Google Group</a></li>
				<li><a href="http://www.facebook.com/groups/cake.community">Facebook Group</a></li>
				<li><a href="http://goo.gl/mSC0s">Google+ Community</a></li>
				<li><a href="https://github.com/cakephp/cakephp/issues">Issues</a></li>
				<li><a href="TODO">Slack</a></li>

				<li><a href="http://webchat.freenode.net/?channels=cakephp&uio=MT1mYWxzZSY5PXRydWUmMTE9MjQ2b8">IRC</a></li>
			</ul>

			<h4 class="i-calendar">Calendar</h4>
			<ul>
				<li><a href="TODO">Meetups</a></li>
				<li><a href="TODO">Events</a></li>
			</ul>
		</div>

		<div class="footer-links columns two">
			<h4 class="i-tag">Marketplace</h4>

			<h5>Service Providers</h5>
			<ul>
				<li><a href="http://cakedc.com">CakeDC</a></li>
				<li><a href="TODO">PHPStorm</a></li>
				<li><a href="TODO">Rackspace</a></li>
			</ul>

			<h5>Jobs</h5>

			<ul class="second-level">
				<li><a href="http://certification.cakephp.org">Certification</a></li>
				<li><a href="http://cakephp.org/services/consultation">Consultation</a></li>
				<li><a href="http://cakephp.org/services/support">Support</a></li>
				<li><a href="http://training.cakephp.org">Training</a></li>
			</ul>
		</div>

		<div class="row">
			<div class="columns nine offset-by-three copyright">
				{%- if show_copyright %}
					{%- if hasdoc('copyright') %}
						{% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
					{%- else %}
						{% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}
					{%- endif %}
				{%- endif %}
				{%- if last_updated %}
					{% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}
				{%- endif %}
				{%- if show_sphinx %}
					{% trans sphinx_version=sphinx_version|e %}Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}.{% endtrans %}
				{%- endif %}
			</div>
		</div>
	</div>
</div>

<div id="nav-modal" class="reveal-modal"> </div>
<div id="inline-search-results"></div>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-743287-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
{%- endblock %}
