{% extends 'default/layout.html' -%}
{%- block doctype %}
<!DOCTYPE html>
{% endblock -%}

{% block extrahead %}
<link href="{{ pathto('_static/favicon.png', 1) }}" type="image/png" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ pathto('_static/css/bootstrap.min.css', 1) }}">
<link rel="stylesheet" href="{{ pathto('_static/css/font-awesome.min.css', 1) }}">
<link rel="stylesheet" href="{{ pathto('_static/css/style.css', 1) }}">
<link rel="stylesheet" href="{{ pathto('_static/css/responsive.css', 1) }}">

{% for lang in languages %}
	{%- if lang != language -%}
		{%- if has_lang(lang, pagename) -%}
		<link rel="alternate" hreflang="{{ lang }}" href="{{ lang_link(lang, pagename) }}" />
		{%- endif -%}
	{%- endif -%}
{% endfor %}

<link rel="search" type="application/opensearchdescription+xml" title="CakePHP Book 3.x Search" href="{{ pathto('_static/opensearchdescription-book-3-x.xml', 1) }}">
<script type="text/javascript">
window.lang = "{{ language }}";
</script>
{% endblock %}

{%- set script_files = [
	"_static/jquery.js",
	"_static/underscore.js",
	"_static/doctools.js",
	"_static/vendor.js",
	"_static/app.js",
	"_static/search.js",
	"_static/typeahead.js",
] -%}

{%- block header %}
{# Outer wrapper for pushing the footer to the bottom #}
<div id="container">
	{# Red Mega Menu #}
	<header class="nav-down">
		<div class="container-fluid hidden-xs hidden-sm">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<a class="logo-cake" href="{{ pathto(master_doc) }}">
						<img src="{{ pathto('_static/logo-cake.png', 1) }}" alt="CakePHP" />
					</a>
				</div>

				<div class="col-sm-9 col-md-9">
					<nav class="navbar-right">
						<ul class="menu">
							<li class="toggle-menu"> <i class="fa icon_menu"></i></li>

							<li class="first">
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
								<ul class="submenu">
									{% include 'menu/documentation.html' %}
								</ul>
							</li>

							<li><a href="#TODO">Business Solutions</a></li>
							<li><a href="#TODO">Showcase</a></li>

							<li>
								<a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
								<div class="megamenu full">
									<div class="row">
										<div class="col-3">
											<ul class="megamenu-list">
												<li class="menu-title"><i class="fa fa-menu-title fa-calendar-o"></i>Calendar</li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Meetups</a></li>
												<li><a href="#"><i class="fa fa-menu fa-chevron-right"></i>Events</a></li>
											</ul>
										</div>
										<div class="col-3">
											<ul class="megamenu-list">
												{% include 'menu/marketplace.html' %}
											</ul>
										</div>
										<div class="col-3">
											<ul class="megamenu-list">
												{% include 'menu/help.html' %}
											</ul>
										</div>
										<div class="col-3">
											<ul class="megamenu-list">
												{% include 'menu/community.html' %}
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class="container-fluid hidden-md hidden-lg">
			<div class="row">

				<div class="col-sm-6 col-xs-6">
					<a class="logo-cake" href="{{ pathto(master_doc) }}">
						<img src="{{ pathto('_static/logo-cake.png', 1) }}" alt="CakePHP" />
					</a>
				</div>
			</div>
		</div>

		{# Grey site bar #}
		<section id="nav-cook" class="hidden-xs hidden-sm">
			<div class="container-fluid ">
				<div class="row ">
					<div class="col-md-12 back-book">
						<div class="col-md-4 col-md-offset-1 text-center t-cook-nav p0">
							 <h2><span class="glyph_range icon-submenu icon-submenu-cook">B</span>CakePHP 3.2 Red Velvet <strong>Cookbook</strong></h2>
						</div>

						<div class="col-md-4 ">
							<form class="search" action="{{ pathto('search') }}" method="get">
								<input type="hidden" name="check_keywords" value="yes" />
								<input type="hidden" name="area" value="default" />

								<div class="col-md-10 p0">
									<input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='CookBook Search' />
								</div>
								<div class="col-md-2 p0 search-cook">
									<button type="submit">
										<span class="glyph_range icon-submenu icon-submenu-cook">A</span>
									</button>
								</div>
							</form>
						</div>

						{# Language and version pickers #}
						<div class="col-md-3">
							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Language:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											{% for lang in languages %}
												{%- if lang == language -%}
												<a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
													role="button" aria-haspopup="true" aria-expanded="false" href="#">
														{{ lang }}
														<i class="fa fa-menu-en fa-chevron-down"></i>
													</a>
												{%- endif -%}
											{% endfor %}
											<ul class="dropdown-menu">
											{% for lang in languages %}
												<li>
													{%- if lang == language -%}
													{# Do nothing, we print the active one above #}
													{%- elif has_lang(lang, pagename) -%}
													<a href="{{ lang_link(lang, pagename) }}">{{ lang }}</a>
													{%- else -%}
													<span class="disabled">{{ lang }}</span>
													{%- endif -%}
												</li>
											{% endfor %}
											</ul>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 p0">
								<div class="col-md-7 t-language p0">
									<h6>Version:</h6>
								</div>
								<div class="col-md-5 p0">
									<ul class="nav navbar-nav">
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">3.2 <i class="fa fa-menu-en fa-chevron-down"></i></a>
											<ul class="dropdown-menu">
												<li><a href="http://book.cakephp.org/3.0/{{ language }}">3.x Book</a></li>
												<li><a href="http://book.cakephp.org/2.0/{{ language }}">2.x Book</a></li>
												<li><a href="http://book.cakephp.org/1.3/{{ language }}/">1.3 Book</a></li>
												<li><a href="http://book.cakephp.org/1.2/{{ language }}/">1.2 Book</a></li>
												<li><a href="http://book.cakephp.org/1.1/en">1.1 Book</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
	</header>
{% endblock -%}


{%- block relbar1 %}
{# Empty so links aren't duplicated #}
{% endblock -%}


{%- block content %}
<div class="container page-container">
	{%- if pagename != 'search' -%}
		<a class="button pale improve" href="https://github.com/cakephp/docs/edit/{{ branch }}/{{ language }}/{{ pagename }}.rst" target="_blank">Improve this Doc</a>
	{%- endif -%}

	{# Document body #}
	<div class="row">
		<div class="col-sm-12 col-md-9 col-md-push-3 space-left push-off">
			<div class="row">
				{%- if pagename != 'search' and pagename != 'contents' and pagename != 'index' -%}
				<div class="page-contents">
					<h3>{{ _('Page Contents') }}</h3>
					{{ toc }}
				</div>
				{%- endif -%}

				{% block body %} {% endblock %}
			</div>
		</div>

		{# TOC sidebar #}
		<div class="col-md-3 col-md-pull-9 pull-off hidden-xs hidden-sm" lang="{{ language }}">
			{%- for sidebartemplate in sidebars %}
			<aside class="sidebar">
				<div class="mb30 row">
					{%- include sidebartemplate %}
				</div>
			</aside>
			{%- endfor %}
		</div>
	</div>
</div>
{% endblock -%}

{%- block relbar2 %}
{# Empty so links aren't duplicated #}
{% endblock %}

{%- block footer %}
<section id="socials" class="back-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5  social text-center">
				<div class="col-sm-3 col-xs-3">
					<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>
						<div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>

				<div class="col-sm-3 col-xs-3">
					<iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
				</div>
				
				<div class="col-sm-3 col-xs-3">
					<a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-7 social-footer text-center ">
				<a href="#" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
				<a href="#" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
				<a href="#" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
				<a href="#" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
				<a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa icon-social fa-linkedin"></i></a>
				<a href="#" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
				<a href="#" data-toggle="tooltip" title="Quora"><span class="glyph_range icon-social">T</span></a>
				<a href="#" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
				<a href="#" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
			</div>
		</div>
	</div>
</section>

<footer id="footer" class="footer-wrapper">
	<div class="container">

		<div class="row col-p30">
			<div class="col-sm-12 col-md-3">
				<div class="footer-widget t-footer">
					<form class="form" method="post" action="">
						<h4>My CakePHP</h4>
						<div class="col-md-12 p0 form-user">
							<label class="mb10">Username<input type="text" name="val_fname" id="val_fname" class="form-control"></label>
							<label class="mb10">Password<input type="password" name="val_lname" id="val_lname" class="form-control"></label>
						</div>

						<div class="col-md-4  col-xs-6 p0 pull-right">
							<button type="submit" class=" btn-user">Login</button>
						</div>

						<div class="col-md-8 col-xs-6 p0 register">
							<label><input type="checkbox">Remember me</label>
							<p>Forgot your password?<br>New user?<a href=""> Register!</a></p>
							<a href="https://www.openhub.net/p/cakephp">
								<img src="{{ pathto('_static/open-hub.png', 1) }}">
							</a>
							<div class="mt10">
								<a href="https://www.rackspace.com/">
									<img src="{{ pathto('_static/rackspace.png', 1) }}">
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="col-sm-12 col-md-9">
				<div class="col-sm-3">
					<ul class="footer-menu">
						{% include 'menu/footer-documentation.html' %}
					</ul>
				</div>

				<div class="col-sm-3">
					<ul class="footer-menu">
						{% include 'menu/community.html' %}
					</ul>
				</div>

				<div class="col-sm-3">
					<ul class="footer-menu">
						{% include 'menu/help.html' %}
					</ul>
				</div>

				<div class="col-sm-3">
					<ul class="footer-menu">
						{% include 'menu/marketplace.html' %}
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center mt30">
				<p class="copyright">
					{%- if show_copyright %}
						{%- if hasdoc('copyright') %}
							{% trans path=pathto('copyright'), copyright=copyright|e %}&copy; <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
						{%- else %}
							{% trans copyright=copyright|e %}&copy; Copyright {{ copyright }}.{% endtrans %}
						{%- endif %}
					{%- endif %}
					{%- if last_updated %}
						{% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}
					{%- endif %}
					{%- if show_sphinx %}
						{% trans sphinx_version=sphinx_version|e %}Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}.{% endtrans %}
					{%- endif %}
				</p>
			</div>
		</div>
	</div>
</footer>

<div id="inline-search-results"></div>

{# End of div[id=wrapper] #}
</div>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-743287-3']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
{%- endblock %}
