sudo: required

language: php

php:
  - 7.0

services:
    - docker
    - docker-compose

before_install:
    - docker pull cakephpfr/docs
    - docker pull cakephpfr/3.x:php70-fpm
    - docker pull cakephpfr/3.x:nginx

script:
    - git clone --depth=50 --branch=docker-compose https://github.com/cakephp-fr/docs_search.git docs_search
    - cd docs_search
    - composer install --prefer-dist --no-interaction
    - cd ..
    - docker-compose up -d
    - docker-compose run --rm docs make html SPHINXOPTS='-W'
    - docker-compose run --rm docs make epub
    - docker-compose run --rm docs make latex
    - docker-compose run --rm docs make pdf

after_script:
  - docker-compose stop
  - docker-compose rm -f

notifications:
    email: false
