/* @override http://localhost/cake_docs/build/html/en/_static/default.css */

/*
 * default.css_t
 * ~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- default theme.
 *
 * :copyright: Copyright 2007-2011 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: sans-serif;
    font-size: 100%;
    background-color: #11303d;
    color: #000;
    margin: 0;
    padding: 0;
}


div.document {
    background-image: url('sidebar-background.jpg');
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 270px;
}

div.body {
    background-color: #ffffff;
    color: #000000;
    padding: 0 20px 30px 20px;
    position: relative;
    z-index: 0;
}

div.footer {
    color: #ffffff;
    width: 100%;
    padding: 9px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

div.footer a {
    color: #ffffff;
    text-decoration: underline;
}

div.related {
    background-color: #133f52;
    line-height: 30px;
    color: #ffffff;
    clear: both;
}

div.related a {
    color: #ffffff;
    text-shadow: 0 1px 0 #000;
    -webkit-text-shadow: 0 1px 0 #000;
}
div.languages ul {
    float: right;
    margin-right: 10px
}
.languages li:after {
    content: ' | ';
    display: inline;
}
.languages li:last-child:after {
    content: '';
}
.languages .disabled {
    opacity: 0.8;
}
.languages .active {
    text-decoration: underline;
}

div.sphinxsidebar {
    width: 270px;
}

div.sphinxsidebar h3 {
    font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

div.sphinxsidebar h3 a {
    color: #000;
}

div.sphinxsidebar h4 {
    font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 1.3em;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
}

div.sphinxsidebar p {
    color: #333;
}

div.sphinxsidebar p.topless {
    margin: 5px 10px 10px 10px;
}

div.sphinxsidebar ul {
    margin: 10px;
    padding: 0;
    color: #000;
}

div.sphinxsidebar a {
    color: #088;
}

div.sphinxsidebar input {
    border: 1px solid #98dbcc;
    font-family: sans-serif;
    font-size: 1em;
}



/* -- hyperlink styles ------------------------------------------------------ */

a {
    color: #088;
    text-decoration: none;
}

a:visited {
    color: #005353;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* -- body styles ----------------------------------------------------------- */

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #222;
    border-bottom: 1px solid #888;
    margin: 20px 0px 10px 0px;
    padding: 3px 0 3px 0px;
}

div.body h1 { margin-top: 0; font-size: 200%; }
div.body h2 { font-size: 160%; }
div.body h3 { font-size: 140%; }
div.body h4 { font-size: 120%; }
div.body h5 { font-size: 110%; }
div.body h6 { font-size: 100%; }

a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

div.body p, div.body dd, div.body li {
    line-height: 130%;
}

/* Admonitions */
div.admonition {
    margin: 20px 0;
    padding: 23px 10px 22px;
    position: relative;
}

div.admonition p.admonition-title + p {
    display: inline;
}

.admonition p {
    margin-bottom: 5px;
}
.admonition pre {
    margin-bottom: 5px;
}
.admonition ul, .admonition ol {
    margin-bottom: 5px;
}
.tip {
    background: #f2faff;
    border: 2px solid #0085cb;
}
.note {
    background-color: #fffdf2;
    border: 2px solid #ffcb00;
}
.seealso {
    background-color: #f9f9f9;
    border: 2px solid #e2e2e2;
}
.topic {
    background-color: #eee;
}
.warning {
    background-color: #fff4f3;
    border: 2px solid red;
}

.seealso .admonition-title,
.tip .admonition-title,
.warning .admonition-title,
.note .admonition-title {
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 4px 8px;
    background: #df9c00;
    line-height: 16px;
    font-weight:normal;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    color: #fff;
}
.admonition-title:before {
    content: '';
    display: block;
    height: 20px;
    width: 8px;
    position: absolute;
    top: 24px;
    left: 0px;
    background: transparent;
    z-index: -1;
    border-top: 45px solid #eed993;
    border-left: 45px solid transparent;
}

.tip .admonition-title:before {
    border-top-color: #ccebff;
}
.tip .admonition-title {
    background: #0085cb;
    color: #fff;
}
.warning .admonition-title:before {
    border-top-color: #f1c5c1;
}
.warning p.admonition-title {
    background: red;
    color: #fff;
}
.seealso .admonition-title {
    background: #999;
}
.seealso .admonition-title:before {
    border-top-color: #9d9d9d;
}

/* preformatted text  */
pre {
    padding: 8px;
    background: #f2f2f2;
    color: #222;
    line-height: 120%;
}
pre::-webkit-scrollbar {
    height: 10px;
}
pre::-webkit-scrollbar-track-piece {
    background: #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
pre::-webkit-scrollbar-thumb:horizontal {
    background: #c0c0c0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}


tt {
    background: #f0f0f0;
    padding: 0 1px 0 1px;
    font-family: monospace;
    font-size: 110%;
}
dl tt {
    border-bottom: none;
}

table.docutils th {
    border-bottom: 2px solid #000;
}
table.docutils td,
table.docutils th {
    padding-top: 3px;
    padding-bottom: 3px;
}

.warning tt {
    background: #e6c0be;
}

.note tt {
    background: #f3e7b1;
}

.viewcode-back {
    font-family: sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

/* type flags */
dl.exception em.property,
dl.interface em.property,
dl.attr em.property,
dl.class em.property,
dl.method em.property,
dl.staticmethod em.property,
dl.const em.property {
    background: #efefef;
    color: #444;
    font-size: 90%;
    font-style: normal;
    padding: 2px 0px 2px 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-shadow: 0px 1px #fff;
}

/* Searchbox */
#searchform {
    background: url('./search-field.png') top left no-repeat;
    height: 50px;
    position: relative;
}
#searchform .search-input {
    position: absolute;
    top: 11px;
    left: 14px;
    width: 185px;
    height: 24px;
    border: none;
    -webkit-appearance: textfield;
    padding: 0;
}
#searchform .search-submit {
    position: absolute;
    top: 9px;
    right: 17px;
    border: 0;
}

ul.versions {
    color:#fff;
    float:right;
    margin:0;
    margin-top:-22px;
    margin-right:200px;
    padding:0;
    font-size:0.9em;
}
ul.versions li {
    display:inline-block;
    padding-right:5px;
}
ul.versions li a {
    color:#fff;
    display:inline-block;
    padding-right:5px;
}

#searchbox {
	font-size:90%;
}

#searchbox ul li {
	padding:4px 0;
}
